<%- include('./partials/header') %>
<body>
  <section class="hero is-grey-darker is-fullheight">
    <span class="round title has-text-grey is-3 has-text-weight-normal">Build<br>Something.</span>
    <div class="section nav-box">
      <div class="links-container">
        <a href="#" class="top-link nav-link"><img src="/images/uparrow.png" alt="TOP"></a>
        <a href="#about" class="about-link nav-link">A<span class="hidden">BOUT</span></a>
        <a href="#tech" class="tech-link nav-link">T<span class="hidden">ECH</span></a>
        <a href="#projects" class="projects-link nav-link">P<span class="hidden">ROJECTS</span></a>
        <a href="#contact" class="contact-link nav-link">C<span class="hidden">ONTACT</span></a>
      </div>
    </div>
    <div class="hero-body top-panel">
      <div class="container">
      </div>
      <a href="#about" class="icon"><i class="fas fa-chevron-down fa-2x"></i></a>
    </div>
  </section>
  <div>
    <section id="about" class="hero is-fullheight">
      <h1 class="is-size-2">
        Forrest J Smith
      </h1>
      <h2 class="is-size-4">
        What haven't I done?
      </h2>
      <div class="hero-body">
        <div class="container"></div>
        </div>
      </div>
    </section>
    <section id="tech" class="hero is-fullheight">
      <h1 class="is-size-2">
        Technologies I've known and loved
      </h1>
      <div class="hero-body">
        <div class="container">
        </div>
      </div>
    </section>
    <section id="projects" class="hero is-fullheight">
      <h1 class="is-size-2">
        The Skills to Pay the Bills
      </h1>
      <div class="hero-body">
        <div class="container">
        </div>
      </div>
    </section>
    <section id="contact" class="hero is-fullheight">
      <h1 class="is-size-2">
        Get at Me
      </h1>
      <div class="hero-body">
        <div class="container">
        </div>
      </div>
    </section>
  </div>
</body>

<%- include('./partials/header') %>