<%- include('./partials/header') %>
<body>
  <section class="hero is-success is-fullheight">
    <nav>
      <h1 class="title is-3 has-text-grey has-text-weight-normal">Build Something.</h1>
    </nav>
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Fullheight title
        </h1>
        <h2 class="subtitle">
          Fullheight subtitle
        </h2>
      </div>
    </div>
  </section>
</body>
</html>
