<%- include('./partials/header') %>
<body>
  <section class="hero is-grey-darker is-fullheight">
    <div class="section nav-box">
      <div class="nav1">
        <a href="#"  class="has-text-grey has-text-weight-normal">Build<br>Something.</a>
      </div>
      <div class="nav2">
        <a href="#projects" class="has-text-grey has-text-weight-normal">Projects</a>
      </div>
      <div class="nav3">
        <a href="#contact"  class="has-text-grey has-text-weight-normal">Contact</a>
      </div>
      <div class="nav4">
        <a href="#about"  class="has-text-grey has-text-weight-normal">About</a>
      </div>
    </div>
    <div class="hero-body">
      <div id="about" class="container">
        <h1 class="title has-text-grey">
          Fullheight title
        </h1>
        <h2 class="subtitle has-text-grey">
          Fullheight subtitle
        </h2>
      </div>
    </div>
  </section>
</body>
</html>
