<%- include('./partials/header') %>
<body>
  <div class="section nav-box">
    <div class="nav-links-container">
      <a href="#" class="top-link nav-link nav-link-container">
        <img id="upBlack" src="/images/uparrow.png" alt="TOP">
        <img id="upWhite" src="/images/white.png" alt="TOP">
      </a>
      <div class="nav-link-container"> 
        <a href="#about" class="about-link nav-link">A</a>
        <a href="#about" class="about-link pop-down">
          <span>BOUT</span>
        </a>
      </div>
      <div class="nav-link-container"> 
        <a href="#tech" class="tech-link nav-link">T</a>
        <a href="#tech" class="tech-link pop-down">
          <span>ECH</span>
        </a>
      </div>
      <div class="nav-link-container"> 
        <a href="#projects" class="projects-link nav-link">P</a>
        <a href="#projects" class="projects-link pop-down">
          <span>ROJECTS</span>
        </a>
      </div>
      <div class="nav-link-container"> 
        <a href="#contact" class="contact-link nav-link">C</a>
        <a href="#contact" class="contact-link pop-down">
          <span>ONTACT</span>
        </a>
      </div>
    </div>
  </div>
  <section id="home">
    <span class="forrest">Forrest J. Smith</span>
    <div class="hero-body top-panel">
      <div class="container">
        
      </div>
    </div>
  </section>
  <section id="about">
    <h1 class="section-title">It's nice to meet you. Now meet me:</h1>
    <div class="about-intro">
      <p>
        I've had a lot of jobs over the years and loved each of them in their own special way. A shortened list:
      </p>
    </div>
    <div class="about-content">
      <img class="about-image" src="images/coffee.JPG" alt="Dancehall Road Coffe Company">
      <p>
        I have had almost every coffee job that there is, including that time I planted an organic coffee farm on the Big Island of Hawaii.
      </p>
    </div>
    <div class="about-content">
      <p>
        I have had almost every restaurant job that there is, from cooking on the line of a James Beard award-winning chef in Seattle to serving as Maître D', host, and bar manager at a Michelin-starred restaurant here in SF.
      </p>
      <img class="about-image" src="images/JBSBP.jpg" alt="Beard medal">
    </div>
    <div class="about-content">
      <img class="about-image" src="images/ForrestFP.jpg" alt="FP">
      <p>
        I worked my way from floor scrubber and keg washer to senior brewer on staff at Fort Point Beer Company.
      </p>
    </div>
    <div class="about-content">
      <p>
        Now I work in software. I love solving puzzles and diagnosing problems of all kinds. I love making things look pretty. I love data and I love neat, clean code.
      </p>
      <img class="about-image" src="images/catcoder.gif" alt="awww, kitty">
    </div>
  </section>
  <section id="tech">
    <h1 class="section-title">Technologies I've known and loved</h1>
    <img class="tech-image a" src="images/js.png" alt="js">
    <img class="tech-image b" src="images/css.png" alt="css">
    <img class="tech-image c" src="images/html.png" alt="html">
    <img class="tech-image d" src="images/python.png" alt="python">
    <img class="tech-image e" src="images/django.png" alt="django">
    <img class="tech-image f" src="images/express.png" alt="express">
    <img class="tech-image g" src="images/mongodb.svg" alt="mongodb">
    <img class="tech-image h" src="images/node.png" alt="node">
    <img class="tech-image i" src="images/sql.png" alt="sql">
    <img class="tech-image j" src="images/react.png" alt="react">
    <img class="tech-image a" src="images/GitHub.png" alt="GitHub" style="animation-delay: 5s">
    <img class="tech-image b" src="images/jquery.png" alt="jquery" style="animation-delay: 5.5s">
    <div class="hero-body">
      <div class="container">
      </div>
    </div>
  </section>
  <section id="projects">
    <h1 class="section-title">The Skills to Pay the Bills</h1>
    <div class="projects-intro">
      <p>
        I made this stuff.
      </p>
    </div>
    <div class="projects-content">
      <div class="project-text-container">
        <p class="project-title">Minesweeper!</p>
        <p>
          I started by coding my first ever project to be a clone of classic windows minesweeper using <strong>JavaScript, HTML, and CSS</strong>. 
          Much regrettable code and my first brush with recursion ensued. I finished a couple of days early so I built another theme for it. Psychedelic! 
          <a href="https://forrest216.github.io/minesweeper/" target="_blank"><button>Check it out!</button></a>
        </p>
      </div>
      <img class="projects-image" src="images/minesweeper.gif" alt="Kaboom!">
    </div>
    <div class="projects-content">
      <img class="projects-image" src="images/hackathon.gif" alt="Kaboom!">
      <div class="project-text-container">
        <p class="project-title">LinkedIn Hackathon Project</p>
        <p>
          Built in a weekend for LinkedIn's first hackathon using <strong>React, Express, Node.js, MongoDB, and Python</strong> in collaboration with a design team. 
          We impressed the judges by independently conceiving of and building a now-deprecated LinkedIn feature, propelling us to 3rd place! 
          <a href="https://github.com/forrest216/linkedin-hackathon" target="_blank"><button>Check it out!</button></a>       
        </p>
      </div>
    </div>
    <div class="projects-content">
      <div class="project-text-container">
        <p class="project-title">Vintour</p>
        <p>
          Built using <strong>Python, Django, and Postgres</strong>, Vintour is a tour planning service for Napa and Sonoma that won't try to sell the user on a service.
          I Scraped all winery data to JSON for over 1,000 wineries and then seeded our Postgres database, forming the core of Vintour’s functionality. 
          <a href="https://vintour.herokuapp.com" target="_blank"><button>Check it out!</button></a>
        </p>
      </div>
      <img class="projects-image" src="https://media.giphy.com/media/j71l6yyHXrtvqONECt/giphy.gif" alt="Cheers!">
    </div>
  </section>
  <section id="contact">
    <h1 class="section-title">Get at Me!</h1>
    <div class="contact-icons">
      <a href="https://www.linkedin.com/in/forrest-j-smith/" target="_blank"><img src="images/linkedin.png" alt="LinkedIn"></a>
      <a href="mailto:forrestjmsmith@gmail.com" target="_blank"><img src="images/email.svg" alt="email me"></a>
      <a href="https://github.com/forrest216" target="_blank"><img src="images/GitHub.png" alt="GitHub"></a>
  </div>
  </section>
</body>

<%- include('./partials/footer') %>