<%- include('./partials/header') %>
<body>
  <section class="hero is-grey-darker is-fullheight">
    
      <span class="round title has-text-grey is-3 has-text-weight-normal">Build<br>Something.</span>
    
    <div class="section nav-box">
      <div class="links-container">
        <a href="#" class="top-link">T<span class="hidden">OP</span></a>
        <a href="#about" class="about-link">A<span class="hidden">BOUT</span></a>
        <a href="#projects" class="projects-link">P<span class="hidden">ROJECTS</span></a>
        <a href="#contact" class="contact-link">C<span class="hidden">ONTACT</span></a>
      </div>
    </div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
              FJMS
            </h1>
            <a href="#about" class="icon has-text-grey"><i class="fas fa-chevron-down fa-2x"></i></a>
          </div>
    </div>
  </section>
  <div>
    <section id="about" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title has-text-grey">
            Forrest J Smith
          </h1>
          <h2 class="subtitle has-text-grey">
            What haven't I done?
          </h2>
        </div>
      </div>
    </section>
    <section id="projects" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title has-text-grey">
            Fullheight title
          </h1>
          <h2 class="subtitle has-text-grey">
            Fullheight subtitle
          </h2>
        </div>
      </div>
    </section>
    <section id="contact" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title has-text-grey">
            Fullheight title
          </h1>
          <h2 class="subtitle has-text-grey">
            Fullheight subtitle
          </h2>
        </div>
      </div>
    </section>
  </div>
</body>

<%- include('./partials/header') %>