@import 'normalize.css';
@import 'bulma.css';

html {
  background: black;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', monospace;
  background: black;
  height: 100vh;
}

.nav-box {
  width: 100%;
  line-height: 1;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  top: 0;
}

.round {
  background: #151515;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: #777;
  align-items: center;
  font-size: 2em;
  height: 6em;
  width: 6em;
}

.round span {
  padding-left: 5px;
}

.hidden {
  text-orientation: upright;
  writing-mode: vertical-lr;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}

.links-container {
  width: 6em;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-self: right;
  justify-content: space-between;
}

.nav-link, .nav-link:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1em;
}

.nav-link:hover .hidden {
  opacity: 1;
  visibility: visible;
  text-orientation: upright;
  writing-mode: vertical-lr;
}

.top-link, .top-link:hover, .top-link:hover .hidden  {
  color: black;
}

.about-link, .about-link:hover, .about-link:hover .hidden {
  color: #4AFD9C;
}

.projects-link, .projects-link:hover, .projects-link:hover .hidden{
  color: #F40F4E;
}

.contact-link, .contact-link:hover, .contact-link:hover .hidden{
  color: #FC9F77;
}

#about {
  background-color: #4AFD9C;
}

#projects {
  background-color: #F40F4E;
}

#contact {
  background-color: #FC9F77;
}