@import 'normalize.css';
@import 'bulma.css';

html {
  background: #222;
}

body {
  font-family: 'Roboto Mono', monospace;
  background: #222;
  height: 100vh;
}

nav {
  background: #151515;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #777;
  align-items: center;
}

/* sticky: 

.heading{
  background: #ccc;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  font-size: 30px;
  padding-left: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
} */
