@import 'normalize.css';
@import 'bulma.css';

html {
  background: black;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', monospace;
  background: black;
  height: 100vh;
}

.nav-box {
  width: 100%;
  line-height: 1;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  top: 0;
}

.round {
  background: #151515;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: #777;
  align-items: center;
  font-size: 4vmin;
  height: 26vmin;
  width: 26vmin;
}

.hidden {
  text-orientation: upright;
  writing-mode: vertical-lr;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}

.links-container {
  width: 14vw;
  font-size: 5vmin;
  display: flex;
  flex-direction: row;
  justify-self: right;
  justify-content: space-between;
  padding-right: 1vw;
}

.top-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.round span {
  padding-left: 5px;
}

.nav-link, .nav-link:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2.5vmin;
}

.nav-link:hover .hidden {
  opacity: 1;
  visibility: visible;
  text-orientation: upright;
  writing-mode: vertical-lr;
}

.top-link img, .top-link:hover {
  color: black;
  height: 4.8vmin;
  padding-top: .8vmin;
}

.icon {
  color: #4AFD9C;
}

.icon:hover {
  color: rgba(74, 253, 154, 0.596);
}

.tech-link, .tech-link:hover, .tech-link:hover .hidden {
  color: #22BDC5;
}

.about-link, .about-link:hover, .about-link:hover .hidden {
  color: #4AFD9C;
}

.projects-link, .projects-link:hover, .projects-link:hover .hidden{
  color: rgb(194, 27, 180);
}

.contact-link, .contact-link:hover, .contact-link:hover .hidden{
  color: #FDA92E;
}

#about {
  background-color: #4AFD9C;
  color: black;
}

.section-title {
  font-size: 5vmin;
  max-width: 80vw;
}

.section-subtitle {
  font-size: 3vmin;
}

#tech {
  background-color: #22BDC5;
  color: #4AFD9C;
}

#projects {
  background-color: rgb(194, 27, 180);
  color: #22BDC5;
}

#contact {
  background-color: #FC9F77;
  color: rgb(194, 27, 180);
}

@media (max-width: 768px) {
  .links-container {
    width: 20vmin;
    font-size: 6vmin;
  }

  .top-link img, .top-link:hover {
    height: 5vmin;
    padding-top: .8vmin;
  }

  .nav-link, .nav-link:hover {
    width: 3vmin;
  }
}